
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>HTML page</title>
 <link rel="shortcut icon" href="C:\Users\kanha\OneDrive\Desktop\website\Capture11.PNG">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/demo2.css' %}">
</head>
<body>




<header>
  <!--<div class="left">   -->
    <img src="{% static "images/assignment_logo.png" %}" alt="Hi!" />
  <div class="right">
    
 <marquee> NEVER STOP LEARNING & ALWAYS HUNGRY FOR KNOWLEDGE</marquee>
</div>
<div class="searchbar">
 
<input type="text" placeholder="search">
<button>Submit</button>
</div>
</header>
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#asssignment">Assignments</a>
  <a href="#servicet">Service</a> 
  <a href="#samplepaper">Samples</a>
  <a href="#Review">Review</a>
  <a href="#Contactus">Contact us</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="#login">Login</a>

</div>
    
  </nav>
  
  <article>

<h1 id="k">HTML</h1>
<p>HTML is a hyper text markup language which is used to help in builds a webpage.HTML is used to define the structure of webpage and also there are so many language(CSS,Javascript,etc.) which helps in buils a webpage at an exordinary point.It is interaction between a text language into web browser.  </p> 
<p>It is not a programming language.</p>
<p>This Html was developed by WHATWG(Web Hypertext Application Technology Working Group).</p>
<p>Hypertext word means it is that text from which you can naviagte to another web page . For example click on <a style="text-decoration:none" color="inherit" href="C:\Users\kanha\OneDrive\Desktop\website\HTML\example.html" ><b>hyper</b></a>.you will get an by cliking on an hyper link. </p>

<p>Markup word means it is used to annotate text, images and other content in a web page.Markup includes the elements such as head,  title, bod, header, footer, article, section, p, div, img, etc. </p>
<p><b>There are some basics you should know before you start this course</b></p>
<p><strong>Html tags</strong> are used to mark for the opening and closing tags.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="screen4.png"></p>
<p><strong>Html elements</strong> are everywhere on the html code such paragraph tags,heading tags.It consists of start tag and end tags. 
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Capture.png"></p>
  <p><strong>Html attribute</strong> is the information of the elements and tags and Attribute Names and Attributes Values are Case-Insensitive.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Capture1.png"></p>
<p> 
	<code>&lt;!Doctype html&gt; </code>
</svg> stands for Document type file.It informs to web browser which language is written in fileand it tells the browser to which version Html document is using . </p>
<p><code>&lt;html&gt;</code>
</svg>Sometimes,It is known as root element in the file and it wrap all the content of the entire page.  </p>
<p><code>&lt;head&gt;</code> All sensitive acttivities happen in head tag  such as we want to give a title to a web page or we want to link CSS etc.. </p>
<p><code>&lt;title&gt;</code> It contains the title of web page and the title appearing in the web browser tab.   </p>
<p><code>&lt;body&gt;</code> It contains all the content such as text,image,video,audio etc.    </p>


<p>There are two extension you must know and while you are saving the file.Extensions are .html ans .htm.
Example:<img src="Capture2.png" alt="example"> </p>


<p >First Html Program</p>
<table>
  <tr>

    <td>   <div class="code-area" style="background-color: red;">
  <textarea id="htmlCode">           
  </textarea>                               </td></div></td>
  
    <td> <div class="preview-area">
  <iframe id="preview-window" ></iframe>
</div>                                 </td>

    
  </tr>
<td>
  <div class="container">
    <div class="button" onclick="showPreview()">RUN</div>
  </div>
</td>
</table>

<p><br><br><br><strong>How to execute the Html code in web Browser?</strong><br>
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
</svg>
Open the notepad.<br>
<img src="C:\Users\kanha\OneDrive\Desktop\website\HTML\screen.png"  >
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
</svg>Save the file with the extension filename.html.
<img src="C:\Users\kanha\OneDrive\Desktop\website\HTML\screen1.png" width="780px" > 

<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg>Click on the save button, then you will see the file saved as Htmlcode.html and open the file.<br>
  <img src="C:\Users\kanha\OneDrive\Desktop\website\HTML\screen2.png"><br>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg>After,Opening the file you will your file executed in your default web browser.
<img src="C:\Users\kanha\OneDrive\Desktop\website\HTML\screen3.png"  width="780px"></p>



<p>For further learning you must download <a style="text-decoration:none" style="color:red" href="https://www.sublimetext.com/3"><strong>Sublime text 3 </strong></a>Or you can process with notepad and save the notepad file with the extension of .html or .htm.</p>

  </article>
</section>
<footer>
  <p>&copy All right reversed 2020|Quesn</p>
</footer>



</body>
</html>
